.btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #060270;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: grey;
}